@model IEnumerable<NFLDashboard.Controllers.TeamYearStatsController.AggregateTeamStats>

@{
    ViewBag.Title = "Index";
}
@using Newtonsoft.Json

<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        //pageSetUp();

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawSeriesChart);

        function drawSeriesChart() {

            var aggegateStats = @Html.Raw(JsonConvert.SerializeObject(this.Model));
            var nflStats = [];
            var labels = [];
            labels[0] = "Team";
            labels[1] = "Cost In Millions";
            labels[2] = "Wins";
            labels[3] = "Cost Per Win in Thousands";
            nflStats.push(labels);

            for(var i=0; i < aggegateStats.length; i++)
            {
                var aTeamStats = [];
                aTeamStats.push(aggegateStats[i].Team);
                aTeamStats.push(aggegateStats[i].Cost / 1000000);
                aTeamStats.push(aggegateStats[i].Wins);
                var cost =  ~~((aggegateStats[i].Cost / aggegateStats[i].Wins) /  1000);
                aTeamStats.push(cost);
                
                nflStats.push(aTeamStats)
            }
            var data = google.visualization.arrayToDataTable(nflStats);

            var options = {
                title: 'NFL Team Effectiveness (Cost Per Win (Thousands) in Color)',
                hAxis: {title: 'Total Cost in Millions'},
                vAxis: {title: 'Total Wins'},
                bubble: {textStyle: {fontSize: 11}},
                colorAxis: {colors: [ 'green', 'red']}
            };

            var chart = new google.visualization.BubbleChart(document.getElementById('NFLBubbleArea'));
            chart.draw(data, options);
        }
    </script>
</head>

<body>
    <section id="widget-grid" class="">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <h1 class="page-title txt-color-blueDark">
                    <i class="fa-fw fa fa-home"></i>
                    NFL Team
                    <span>
                        >Mertics
                    </span>
                </h1>
            </div>
        </div>

       <div class="row">
                <article class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-4" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-sortable="false">
                        <header>
                            <h2>Team Winning and Cost Effectiveness </h2>

                            <div class="widget-toolbar">

                                <div class="btn-group">
                                    <button class="btn dropdown-toggle btn-xs btn-warning" data-toggle="dropdown">
                                        Options <i class="fa fa-caret-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="javascript:void(0);">2010-2015 (Default)</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">2015 Only</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Current Year</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </header>
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                                <input class="form-control" type="text">
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body" id="NFLBubbleArea" style="width: 1000px; height: 750px;"></div>
                        </div>
                    </div>
                </article>
                <article class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-2" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-sortable="false">
                        <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                -->
                        <header>

                            <h2>Team Wins Per Year</h2>

                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                                <input class="form-control" type="text">
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body">

                                <!-- this is what the user will see -->
                                <canvas id="teamWinsPerYear" height="120"></canvas>

                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>
                    <!-- end widget -->
  
                </article>
            </div>     
   </section>
</body>     
</html>

@section pagespecific {
    <script type="text/javascript">

    $(document).ready(function () {

        /* DO NOT REMOVE : GLOBAL FUNCTIONS!
         *
         * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
         *
         * // activate tooltips
         * $("[rel=tooltip]").tooltip();
         *
         * // activate popovers
         * $("[rel=popover]").popover();
         *
         * // activate popovers with hover states
         * $("[rel=popover-hover]").popover({ trigger: "hover" });
         *
         * // activate inline charts
         * runAllCharts();
         *
         * // setup widgets
         * setup_widgets_desktop();
         *
         * // run form elements
         * runAllForms();
         *
         ********************************
         *
         * pageSetUp() is needed whenever you load a page.
         * It initializes and checks for all basic elements of the page
         * and makes rendering easier.
         *
         */

        pageSetUp();


        /*
         * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
         * eg alert("my home function");
         *
         * var pagefunction = function() {
         *   ...
         * }
         * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
         *
         * TO LOAD A SCRIPT:
         * var pagefunction = function (){
         *  loadScript(".../plugin.js", run_after_loaded);
         * }
         *
         * OR
         *
         * loadScript(".../plugin.js", run_after_loaded);
         */

        // reference: http://www.chartjs.org/docs/


        // BAR CHART

        var barOptions = {
            //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
            scaleBeginAtZero: true,
            //Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines: true,
            //String - Colour of the grid lines
            scaleGridLineColor: "rgba(0,0,0,.05)",
            //Number - Width of the grid lines
            scaleGridLineWidth: 1,
            //Boolean - If there is a stroke on each bar
            barShowStroke: true,
            //Number - Pixel width of the bar stroke
            barStrokeWidth: 1,
            //Number - Spacing between each of the X value sets
            barValueSpacing: 5,
            //Number - Spacing between data sets within X values
            barDatasetSpacing: 1,
            //Boolean - Re-draw chart on page resize
            responsive: true,
            //String - A legend template
            legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].lineColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"
        }

        var aggegateStats = @Html.Raw(JsonConvert.SerializeObject(this.Model));
        var dataForBubble = [];
        var labelsForBubble = {};

        for(var i=0; i < aggegateStats.length; i++)
        {
            var bubble = {};
            bubble["x"] = aggegateStats[i].Wins + aggegateStats[i].Losses;
            var cost =  ~~(aggegateStats[i].Cost / 1000000);
            bubble["y"] = cost;
            bubble["r"] = aggegateStats[i].Wins;
            dataForBubble.push(bubble)

            labelsForBubble[i] = aggegateStats[i].Team;
        }

        // var jBubbleData = JSON.stringify(dataForBubble);
           

        var barData = {
            labels: labelsForBubble, // ["Patriots", "Seahanks", "Broncos"],
            datasets: [
               {
                   data: dataForBubble,
                   label: "Team Wins",
                   fillColor: "rgba(220,220,220,0.5)",
                   strokeColor: "rgba(220,220,220,0.8)",
                   highlightFill: "rgba(220,220,220,0.75)",
                   highlightStroke: "rgba(220,220,220,1)",
               }]
        };

        var barData = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [
               {
                   label: "My First dataset",
                   fillColor: "rgba(220,220,220,0.5)",
                   strokeColor: "rgba(220,220,220,0.8)",
                   highlightFill: "rgba(220,220,220,0.75)",
                   highlightStroke: "rgba(220,220,220,1)",
                   data: [65, 59, 80, 81, 56, 55, 40]
               },
               {
                   label: "My Second dataset",
                   fillColor: "rgba(151,187,205,0.5)",
                   strokeColor: "rgba(151,187,205,0.8)",
                   highlightFill: "rgba(151,187,205,0.75)",
                   highlightStroke: "rgba(151,187,205,1)",
                   data: [28, 48, 40, 19, 86, 27, 90]
               }
            ]
        };

        // render chart
        var ctx = document.getElementById("teamWinsPerYear").getContext("2d");
        var myNewChart = new Chart(ctx, {type: 'bar', data: barData, options: barOptions});
        // END BAR CHART

    })
    </script>
}